.price {
    font-weight: bold;
}
.description{
    color: #b1b7ba;
}

.card{
    margin: 30px;
}

.cars-logo{
    width: 5%;
}

.header-logo{
    text-align: center;
}
#logo {
    width: 40%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth{
    padding: .25rem 1.5rem;
}